body{
    padding: 100px;
}
.bank-welcome{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.deposite{
    background-color: green;
}
.withdraw{
    background-color: hotpink;
}
.balance{
    background-color: khaki;
}
.status{
    margin: 0 40px ;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
